# Staging environment overrides

namespace: clean-architecture-staging

accountsApi:
  replicaCount: 1
  image:
    tag: "staging"
  environment: Staging
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  autoscaling:
    enabled: false
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - host: staging.app.example.com
        paths:
          - path: /accounts-api
            pathType: Prefix
    tls:
      - secretName: clean-architecture-staging-tls
        hosts:
          - staging.app.example.com

walletApp:
  replicaCount: 1
  image:
    tag: "staging"
  environment: Staging
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 125m
      memory: 128Mi
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - host: staging.app.example.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: clean-architecture-staging-tls
        hosts:
          - staging.app.example.com

postgresql:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
  persistence:
    size: 5Gi
